<h1> Statistics </h1>
<div class="well">
  <p class="stat-title"> Total users: </p>
  <p class="stat-value"> <%= @users.count %> </p>
</div>

<div class="well">
  <p class="stat-title"> Total places: </p>
  <p class="stat-value"> <%= @places.count %> </p>
</div>

<div class="well graphs">
  <p class="stat-title">Types of places </p>
  <div id="chart" data-coffee="<%= @coffee.count %>", data-shop="<%= @shop.count %>", data-beer="<%= @beer.count %>", data-restaurant="<%= @restaurant.count %>"></div>
  <script>
   var shop = $("#chart").attr("data-shop")
   var coffee = $("#chart").attr("data-coffee")
   var beer = $("#chart").attr("data-beer")
   var restaurant = $("#chart").attr("data-restaurant")


    var chart = c3.generate({
    bindto: '#chart',    
    data: {
    // iris data from R
      columns: [
        ['Coffee', coffee ],
        ['Shop', shop],
        ['Beer', beer],
        ['Restaurant', restaurant],
      ],
      type : 'pie',
      }})
  </script>
</div>
