<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @place.specification %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>


<p>
  <strong>Author:</strong>
  <%= User.find_by(@place.user_id).first_name %> <%= User.find_by(@place.user_id).last_name %>
</p>

<%= link_to 'Edit', edit_admin_place_path(@place) %> |
<%= link_to 'Back', admin_places_path %>
