<p id="notice"><%= notice %></p>

<h1>
  <%= @actuality.title %>
</h1>

<p>
  <strong>Body:</strong>
  <%= @actuality.body %>
</p>

<%= link_to 'Edit', edit_admin_actuality_path(@actuality) %> |
<%= link_to 'Back', admin_actualities_path %>
