
<p id="notice"><%= notice %></p>
<h1>Listing Users</h1>
<div class="filters">
   <h2 class="filters">Filters:</h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Places count</th>
      <th>Roles</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %>, <%= user.last_name %> </td>
      <td><%= user.email %></td>
      <td><%= user.places.count %></td>
      <td><%= user.admin ? "Admin" : "" %></td>
      <td>
      </td>
      <td><%= link_to  admin_user_path(user) do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
      </td>
        <td><%= link_to  edit_admin_user_path(user) do %>
          <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
        </td>
        <td><%= link_to  admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'} do %>
          <span class="glyphicon glyphicon-trash"></span>
      <% end %>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>


