<h1><%= @user.try(:first_name)%> <%= @user.try(:last_name) %> </h1>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Submitted: </strong><%= @user.places.count %> new places
</p>
<p>
  <strong>On Bezlepci since: </strong> <%= @user.created_at.strftime("%e.%m. %Y") %>
</p>
<p>
  <strong>Admin? </strong><%= @user.admin %>
</p>


<%= link_to 'Show', admin_user_path(@user) %> |
<%= link_to 'Edit', edit_admin_user_path(@user) %>