
<!--titulní text- bezlepková mapa-->
</br>
<div class="row">
  <div class="col-md-12" id="titulka"> <h1 align="center">Bezlepková mapa<h1></div>
</div>
</br>
<div class="row">
    <div class="col-md-6">
      </br>
      <div class="col-xs-10">
        <input class="form-control input-lg" type="text" placeholder="Zadej adresu">
     </div>
     <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span></button>
    </div>
    
<div class="col-md-6"><h3 align="center" data-toggle="tooltip" data-placement="top" title="Kliknutím sem můžete zadat na mapu své oblíbené bezlepkové místo"><%= link_to 'Přidat nové místo', new_place_path %></h3></div>
</div>
</br>
<!--buttony-->
<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block dropdown-toggle" data-toggle="dropdown" id="obchod" >OBCHODY</button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a href="#">Bezlepkové obchody</a></li>
      <li><a href="#">Rozšířená nabídka BL</a></li>
      <li><a href="#">Základní nabídka BL</a></li>
      <li><a href="#">Farmářské trhy</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block dropdown-toggle" data-toggle="dropdown" id="restaurace">RESTAURACE</button><ul class="dropdown-menu dropdown-menu-right">
      <li><a href="#">Bezlepkové</a></li>
      <li><a href="#">Pizzerie</a></li>
      <li><a href="#">Palačinkárna</a></li>
      <li><a href="#">Vstřícné k BL</a></li>
      <li><a href="#">Pro děti</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="kafe">KAVÁRNY</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="pivo">PIVO</button>
  </div>
</div>
</br>


<div class="row">
  <div class="col-md-12">
  
    <!-- This is the map -->
    <div id="map-canvas"></div>
    <input id='search' class='search-ui' placeholder='Napiš název místa' />
    <a href='#' id='geolocate' class='find-ui'>Moje poloha</a>

    <!--  Linking javascript file map.js -->
    <%= javascript_include_tag "mapbox" %>
  </div>

</div>
</br>
<div class="row">
    <div class="col-md-6" id="novamista">
      <div>
        <h3 align="center">nová místa</h3>
          <ul>
              <% @new_places.each do |place| %>
              <li><%= place.name %>, <%= place.address %></li>
            <% end %>
          </ul>
      </div>
    </div>
    <div class="col-md-6" id="novinky"><h3 align="center">novinky</h3>
      <!--toto je jen pro představu pak smazat-->
      <p>Bonbon gummi bears sugar plum lemon drops chocolate macaroon brownie jelly macaroon. Pie oat cake gummi bears liquorice. Cupcake sweet cotton candy danish. Jujuear.com.</p>
      <p>Sweet roll sugar plum icing jelly beans. Brownie tart une sweet roll. Fruitcake candy canes dessert pudding dessert gingerbread sesame snaps. Brownie dragée applicake.</p>
      <br>
       <ul class="pager">
          <li class="next"><a href="#"><%= link_to "Dřívější",actualities_path %></a></li>
        </ul>


    </div>
</div>
</br>
