
</br>
<div class="row">
    <div class="col-md-6">
      </br>
      <div class="col-xs-10">
        <input class="form-control input-lg" type="text" placeholder="Zadej adresu">
     </div>
     <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span></button>
    </div>
    
<div class="col-md-6 new-place-button"><h3 align="center" data-toggle="tooltip" data-placement="top" title="Kliknutím sem můžete zadat na mapu své oblíbené bezlepkové místo">
  <%= link_to 'Přidat nové místo', new_place_path %></h3></div>
</div>
</br>
<!--buttony-->
<!--<div class="row">-->
  <!--<div class="col-md-3">-->
    <!--<button type="button" class="btn btn-primary btn-lg btn-block dropdown-toggle" data-toggle="dropdown" id="obchod" >OBCHODY</button>-->
    <!--<ul class="dropdown-menu dropdown-menu-right">-->
      <!--<li><a href="#">Bezlepkové obchody</a></li>-->
      <!--<li><a href="#">Rozšířená nabídka BL</a></li>-->
      <!--<li><a href="#">Základní nabídka BL</a></li>-->
      <!--<li><a href="#">Farmářské trhy</a></li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--<div class="col-md-3">-->
    <!--<button type="button" class="btn btn-primary btn-lg btn-block dropdown-toggle" data-toggle="dropdown" id="restaurace">RESTAURACE</button><ul class="dropdown-menu dropdown-menu-right">-->
      <!--<li><a href="#">Bezlepkové</a></li>-->
      <!--<li><a href="#">Pizzerie</a></li>-->
      <!--<li><a href="#">Palačinkárna</a></li>-->
      <!--<li><a href="#">Vstřícné k BL</a></li>-->
      <!--<li><a href="#">Pro děti</a></li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--<div class="col-md-3">-->
    <!--<button type="button" class="btn btn-primary btn-lg btn-block" id="kafe">KAVÁRNY</button>-->
  <!--</div>-->
  <!--<div class="col-md-3">-->
    <!--<button type="button" class="btn btn-primary btn-lg btn-block" id="pivo">PIVO</button>-->
  <!--</div>-->
<!--</div>-->
<!--</br>-->


<div class="row">
  <div class="col-md-12">
  
    <!-- This is the map -->
    <div id="map-canvas">

    </div>
    <input id='search' class='search-ui' placeholder='Napiš název místa' />

    <!--  Linking javascript file map.js -->
    <%= javascript_include_tag "mapbox" %>
  </div>

</div>
</br>
<div class="row">
    <div class="col-md-6" id="novamista">
      <div>
        <h3 align="center">Nová místa</h3>
          <ul>
              <% @new_places.each do |place| %>
              <li><%= place.name %>, <%= place.address %></li>
            <% end %>
          </ul>
      </div>
    </div>
    <div class="col-md-6" id="novinky"><h3 align="center">Novinky</h3>
      <ul>
        <% @actualities.each do |act| %>
            <li><%= act.title %> - <%= act.body %></li>
        <% end %>
      </ul>
       <!--<ul class="pager">-->
          <!--<li class="next"><%= link_to "Dřívější", actualities_path %></li>-->
        <!--</ul>-->
    </div>
</div>
</br>
