<!DOCTYPE html>
<html>
<head>
  <title>Bezlepci</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <!--Google maps api-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADb9Ens-Ba43DrmNw3qVRarj__l5wdE_g&sensor=true"></script>
  <!--  Linking javascript file map.js -->
  <%= javascript_include_tag "map" %>

  <%= csrf_meta_tags %>
</head>

<body>



 
 
      <!--po kliknutí na logo přesměruje na titulní stránku mapy-->
     <div class="row">
          <div class="col-md-8">Bezlepci</div>
          <div class="col-md-2">O nás</div>
          <div class="col-md-2">

                    <% if current_user %>
            <li class="active">
              <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
            </li>
        <% else %>

            <li> <%= link_to "Registrovat se", new_user_registration_path %></li>
            <li> <%= link_to "Přihlásit se", new_user_session_path %></li>
        <% end %>
      </ul>
      <ul>
        <% if current_user %>
            <li class="pull-right logged-in">Logged in as: <%= current_user.email %> </li>
        <% end %>
          </div>
          
      </div>
      



<div class="row">
  <div class="col-md-10 col-md-offset-2"> Bezlepková mapa</div>
</div>

<div class="row">
    <div class="col-md-6" id="search">hledat</div>
    <div class="col-md-6"><%= link_to 'Přidat nové místo', new_place_path %></div>
</div>

<div class="row">
  <div class="col-md-3">OBCHODY</div>
  <div class="col-md-3">RESTAURACE</div>
  <div class="col-md-3">KAVÁRNY</div>
  <div class="col-md-3">PIVO</div>
</div>




<div class="container">
  <%= yield %>
</div>

<div class="row">
    <div class="col-md-6">nová místa</div>
    <div class="col-md-6">novinky</div>
</div>

<div class="row">
  <div class="col-md-3">FAQ</div>
  <div class="col-md-3">KONTAKTY</div>
  <div class="col-md-3">NAPSALI O NÁS</div>
</div>


</body>
</html>
