<!DOCTYPE html>
<html lang="cz">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Bezlepci</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <!-- Bootstrap -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!--Google maps api-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADb9Ens-Ba43DrmNw3qVRarj__l5wdE_g&sensor=true"></script>
  <!--  Linking javascript file map.js -->
  <%= javascript_include_tag "map" %>

  <%= csrf_meta_tags %>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

  <div id="komplet" class="col-md-10 col-md-offset-1">
</br>


 
 
 <!--zde bude logo-->

     <header class="row">
          <div class="col-md-2">
            <h1 align="center">
              <%= link_to "BEZLEPCI", places_path %>
            </h1>
          </div>
    <!--úvodní text-->
          <div class="col-md-6">Gingerbread candy icing lemon drops marshmallow croissant donut ice cream donut. Cookie halvah oat cake tiramisu macaroon gingerbread topping chocolate cake. Bear claw lollipop carrot cake tiramisu dragée lemon drops candy candy canes fruitcake. Carrot cake tootsie roll ice cream pastry sweet chocolate..</div>
<!--odkaz na stránku s informacema o projektu a tvůrcích-->
          <div class="col-md-2">
            <h3 align="center">
              <%= link_to "O NAS",pages_info_path %>
            </h3>
          </div>
<!--tabulka s registrací- přihlašováním-->
          <div class="col-md-2">


                    <% if current_user %>
            <li class="active">
              <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
            </li>
        <% else %>

            <p> <%= link_to "Registrovat se", new_user_registration_path %></p>
            <p> <%= link_to "Přihlásit se", new_user_session_path %></p>
        <% end %>
      </ul>
      <ul>
        <% if current_user %>
            <li class="pull-right logged-in">Logged in as: <%= current_user.email %> </li>
        <% end %>
          </div>
          
      </header>
      
<!--budoucí rozdělení webu- prosím nemazat-->
<!--</br>
<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="obchod">MAPA</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="restaurace">VÝROBCI</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="kafe">E-SHOPY</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="pivo">BLOGY</button>
  </div>
</div>-->

<div>
  <%= yield %>
</div>

<div class="row" id="footer">
  <div class="col-md-4">
    <h3 align="center">
      <%= link_to "FAQ",pages_faq_path %>
    </h3>

  <!-- vyhledávač na webu- zatím nastaveno na google -->
  <div id="tfheader">
    <form id="tfnewsearch" method="get" action="http://www.google.com">
            <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="hledej na bezlepci.cz" class="tfbutton">
    </form>
  <div class="tfclear"></div>
  </div>

  </div>
  <div class="col-md-4">
    <h3 align="center">
     <%= link_to "KONTAKTY",pages_kontakty_path %>

    </h3>
  </div>
  <div class="col-md-4">
    <h3 align="center">
      <%= link_to "NAPSALI O NAS",pages_media_path %>
     </h3>
    <ul>
      <li>huffingtonpost.com</li>
      <li>wikipedia.org</li>
    </ul>
  </div>

  <div class="row">
    <div class="administration"> <%= link_to "administrace", admin_places_path %> </div>
  </div>
</div>

</div>

</body>
</html>
