<!DOCTYPE html>
<html>
<head>
  <title>Bezlepci</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_user %>
    <span>Logged in as: <%= current_user.email %>| </span>
    <%= link_to "Log out", destroy_user_session_path %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Sign in", new_user_session_path %>
<% end %>

<%= yield %>

</body>
</html>
