<!DOCTYPE html>
<html lang="cz">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Bezlepci</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <!-- Bootstrap -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- Trackets errors tracking -->
  <%= trackets_include_tag %>
  <!-- MapBox API -->
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet'/>
  <!-- My location control Plug-in -->
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.js'></script>
  <%= csrf_meta_tags %>
</head>


<body>
<div id="komplet" class="container-fluid">
  </br>


  <!--zde bude logo-->

  <header>
    <div class="row">
      <!--tabulka s registrací- přihlašováním-->
      <div class="col-md-3 col-md-offset-8 signin">
        <% if current_user %>
            <p> Logged in as: <%= current_user.email %> </p>
            <p> <%= link_to "Log out", destroy_user_session_path, :method => :delete %> </p>
        <% else %>
            <p> <%= link_to "Registrovat se", new_user_registration_path %> |
              <%= link_to "Přihlásit se", new_user_session_path %></p>
        <% end %>
      </div>

    <div class="row">
      <div class="col-md-12">
        <%= link_to places_path do %>
            <%= image_tag 'logo.png', class: "logo" %>
        <% end %>
      </div>
      <!--úvodní text-->
      <!--<div class="col-md-4 intro">-->
      <!--<h3>Pro jednodušší život bez lepku </h3>-->
      <!--</div>-->
    </div>

    </div>

  </header>

  <!--budoucí rozdělení webu- prosím nemazat-->
  <!--</br>
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block" id="obchod">MAPA</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block" id="restaurace">VÝROBCI</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block" id="kafe">E-SHOPY</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block" id="pivo">BLOGY</button>
    </div>
  </div>-->

  <div class="container">
    <%= yield %>
  </div>

  <div class="row" id="footer">
    <div class="col-md-4">
      <h3 align="center">
        <%= link_to "Faq", pages_faq_path %>
      </h3>
    </div>
    <div class="col-md-4">
      <h3 align="center">
        <%= link_to "Kontakty", pages_kontakty_path %>
      </h3>
      <!--</br>-->
      <!--<h4 align="center">email: bezlepci@gmail.com</h4>-->
    </div>
    <div class="col-md-4">
      <h3 align="center">
        <%= link_to "Napsali o nas", pages_media_path %>
      </h3>
      <!--<ul>-->
        <!--<li>Časopis Maminka</li>-->
        <!--<li>celiak.cz</li>-->
      <!--</ul>-->
    </div>

    <div class="pull-right">
      <div class="administration"> <%= link_to "administrace", admin_places_path %> </div>
    </div>
  </div>

</div>
</br>

</body>
</html>
