<!DOCTYPE html>
<html lang="cz">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Bezlepci</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <!-- Bootstrap -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- Trackets errors tracking -->
  <%= trackets_include_tag %>
  <!-- MapBox API -->
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
  <!-- My location control Plug-in -->
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.js'></script>
  <%= csrf_meta_tags %>
</head>


<body>
  <div id="komplet" class="col-md-8 col-md-offset-2">
  </br>
 
 
 <!--zde bude logo-->

     <header class="row">
          <div class="col-md-2">
            <h1 align="center"><b>
              <%= link_to "BEZLEPCI", places_path %></b>
            </h1>
          </div>
    <!--úvodní text-->
          <div class="col-md-6"><p>Ice cream dessert tootsie roll. Dragée pudding cheesecake biscuit. Danish unerdwear.com wafer marshmallow gummies. Jujubes halvah tootsie roll tart chocolate bar pastry chupa chups chocolate. Candy oat cake chocolate ice cream jelly oat cake. </p>
          </div>
<!--odkaz na stránku s informacema o projektu a tvůrcích-->
          <div class="col-md-2">
            <h3 align="center" data-toggle="tooltip" data-placement="top" title="Proč jsme vytvořili tento projekt a kdo jsme">
              <%= link_to "O NÁS",pages_info_path %>
            </h3>
          </div>
<!--tabulka s registrací- přihlašováním-->
          <div class="col-md-2">


                    <% if current_user %>
            <li class="active">
              <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
            </li>
        <% else %>

            <p> <%= link_to "Registrovat se", new_user_registration_path %></p>
            <p> <%= link_to "Přihlásit se", new_user_session_path %></p>
        <% end %>
      </ul>
      <ul>
        <% if current_user %>
            <li class="pull-right logged-in">Logged in as: <%= current_user.email %> </li>
        <% end %>
       </ul>
          </div>
          
      </header>
      
<!--budoucí rozdělení webu- prosím nemazat-->
<!--</br>
<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="obchod">MAPA</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="restaurace">VÝROBCI</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="kafe">E-SHOPY</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="pivo">BLOGY</button>
  </div>
</div>-->

<div>
  <%= yield %>
</div>

<div class="row" id="footer">
  <div class="col-md-4">
    <h3 align="center">
      <%= link_to "FAQ",pages_faq_path %>
    </h3>
  </div>
  <div class="col-md-4">
    <h3 align="center">
     <%= link_to "KONTAKTY",pages_kontakty_path %>
    </h3>
  </br>
    <h4 align="center">email: bezlepci@gmail.com</h4>
  </div>
  <div class="col-md-4">
    <h3 align="center">
      <%= link_to "NAPSALI O NAS",pages_media_path %>
     </h3>
    <ul>
      <li>Časopis Maminka</li>
      <li>celiak.cz</li>
    </ul>
  </div>

  <div class="row">
    <div class="administration"> <%= link_to "administrace", admin_places_path %> </div>
  </div>
</div>

</div>
</br>

</body>
</html>
